.awesome-react-tooltip {
  padding: 10px;
  color: white;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background-color: rgba(51,51,51,0.8);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}

.awesome-react-tooltip:before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
}

.awesome-react-tooltip-right:before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid rgba(51,51,51,0.8);
  top: 50%;
  margin-top: -4px;
  left: -4px;
}

.awesome-react-tooltip-left:before {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid rgba(51,51,51,0.8);
  top: 50%;
  margin-top: -4px;
  right: -4px;
}

.awesome-react-tooltip-top:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(51,51,51,0.8);
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
}

.awesome-react-tooltip-bottom:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(51,51,51,0.8);
  top: -4px;
  margin-left: -4px;
  left: 50%;
}
